body{
    font-family: sans-serif;
    margin:auto;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.mainlogo{
   margin-left: 8%;
   margin-right: 8%;
    margin-bottom: 5%;
   display: inline-block;
}

.container{
padding: 4%;
width:80%;
margin-left: 18%;
margin-top: 2%;
margin-right: 6%;
border-right: 1px solid  rgb(165, 176, 235);
border-left: 1px solid    rgb(165, 176, 235);
border-top: 1px solid    rgb(165, 176, 235);
border-bottom: 1px solid  rgb(165, 176, 235);
box-shadow: 0 0 1px rgb(0,42,255), 0 0 2px rgb(0,42,255), 0 0 6px rgb(0,42,255), 0 0 12px rgb(0,42,255), inset 0 0 2px rgb(0,42,255), inset 0 0 6px rgb(0,42,255), inset 0 0 12px rgb(0,42,255);
}
.log-in{
    color:white;

    text-align: center;
}
h1{
    text-align: center;
}
label{
    color: white;
    margin-left: 6px;
}
input[type=text]{
    width: 95%;
    padding: 12px 20px;
    margin: 5px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #C4C4C4;
    opacity: 0.66;
    display: inline-block;
}
input[type=password]{
    width: 95%;
    padding: 12px 20px;
    margin: 5px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #C4C4C4;
    opacity: 0.66;
    display: inline-block;
}
input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #C4C4C4;
    opacity: 0.66;
    display: inline-block;
}

.nextlink  {
    width: 70%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 5px 0;
    margin-left: 8%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }
  .nextlink:hover{
    width: 70%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 5px 0;
    margin-left: 8%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    opacity: 0.5;
    text-decoration: none;
  }
.nextlink:focus{
    opacity: 0.5;
    text-decoration: none;
}
  .forgot{
      margin-left: 30%;
      color: white;
      opacity: 0.5;
  }
  .forgot:hover{
      opacity: 1;
  }
  .link{
        color: white;
        text-align: center;
      }
  .login{
      cursor: pointer;
        color: white;
        opacity: 0.5;
        text-decoration: underline;
      }
      .login:hover{
        opacity: 1;
      }
  #messages{
			background-color: red;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}

  @media screen and (min-width:900px){
    body{
        font-family: sans-serif;
        background-size: cover;
        background-repeat: no-repeat;
        margin:auto;

    }
    .mainlogo{
      margin-top:2%;
      margin-left: 37%;
      margin-bottom: 0.5%;
    display: inline-block;
    }

    .container{
        width: 324px;
        margin-left: 37%;
        margin-bottom: 2%;
        display: inline-block;
        border-right: 1px solid  rgb(165, 176, 235);
        border-left: 1px solid    rgb(165, 176, 235);
        border-top: 1px solid    rgb(165, 176, 235);
        border-bottom: 1px solid  rgb(165, 176, 235);
        padding: 3%;
        box-shadow: 0 0 1px rgb(0,42,255), 0 0 2px rgb(0,42,255), 0 0 6px rgb(0,42,255), 0 0 12px rgb(0,42,255), inset 0 0 2px rgb(0,42,255), inset 0 0 6px rgb(0,42,255), inset 0 0 12px rgb(0,42,255);



    }
    .log-in{
        color:white;
        text-align: center;

    }
    h1{
        text-align: center;
    }
    label{
        color: white;
    }
    input[type=text]{
        width: 100%;
        padding: 12px 20px;
        margin: 5px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background: #C4C4C4;
        opacity: 0.66;
        display: inline-block;
    }
    input[type=password]{
        width: 100%;
        padding: 12px 20px;
        margin: 5px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background: #C4C4C4;
        opacity: 0.66;
        display: inline-block;
    }
    .nextlink  {
        width: 82%;
        background-color: black;
        color: white;
        padding: 14px 20px;
        margin: 7px 0;
        margin-bottom: 0px;
        margin-left: 8%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        text-decoration: none;
      }
      .nextlink:hover{
        width: 82%;
        background-color: black;
        color: white;
        padding: 14px 20px;
        margin: 7px 0;
        margin-bottom: 0px;
        margin-left: 8%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        opacity: 0.5;
        text-decoration: none;
      }
      .forgot{
          margin-left: 30%;
          color: white;
          opacity: 0.5;
      }
      .forgot:hover{
          opacity: 1;
      }
      .link{
        color: white;
        text-align: center;
      }
      .login{
      cursor: pointer;
        color: white;
        opacity: 0.5;
        text-decoration: underline;
      }
      .login:hover{
        opacity: 1;
      }
      #messages{
			background-color: #ff7f7f;
			border: solid indianred 1.5px;
			border-radius: 7px;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}
		.errorlist{
		    color: white;
		    list-style-type:none;
		}

  }
