{% load static %}
<html lang="en">
<head>
<title>Jigyasa•Register</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'css/login.css'%}">

</head>
<body background="{% static 'images/circuit-bg.png' %}">
    <div class="mainlogo"><img src="{% static 'images/jigyasa-white.png' %}" height="100px"></div>
    <div class="box">
    <div class="container">
        <form method="POST">
            {% csrf_token %}
                <label>Username</label>
                {{form.username}}
                <label>Email</label>
                {{ form.email }}
                <label>Enter password</label>
                {{ form.password1 }}
                <label>Confirm password</label>
                {{ form.password2 }}
                <input type="submit" class="nextlink" ><br>
            <p>{{form.errors}}</p>
                <p class="link">Already have an account? <a class="login" href="{% url 'login' %}">Login here</a></p>
        </form>
</div>
</div>


</body>
</html>